* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Times New Roman;
}

body {
    background-color: #FFF5EE !important;
}

a:link {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: burlywood;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}

@media (min-width: 480px) {
    .pagecontainer {
        width: 29em;
        margin: auto;
        margin-top: 1em;
        display: block;
    }

    .gamecontainer {
        text-align: center;
        height: 100%;
        width: 100%;
        display: inline-flex;
        margin: 0em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size:30px;
        line-height: 33px;
        font-weight: bold;
        color:black;
    }
}

@media (min-width: 800px) {
    .pagecontainer {
        width: 33.5em;
        margin: auto;
        margin-top: 1em;
        display: block;
    }

    .gamecontainer {
        text-align: center;
        height: 100%;
        width: 100%;
        display: inline-flex;
        margin: 0em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size:40px;
        line-height: 44px;
        font-weight: bold;
        color:black;
    }
}

@media (min-width: 1000px) {
    .pagecontainer {
        width: 51em;
        margin: auto;
        margin-top: 1em;
        display: block;
    }

    .gamecontainer {
        text-align: center;
        height: 100%;
        width: 100%;
        display: inline-flex;
        margin: 0em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size:60px;
        line-height: 66px;
        font-weight: bold;
        color:black;
    }
}

.gameContainer {
    text-align: center;
}

.info {
    color: grey;
    font-weight: bold;
}

.guide {
    color: grey;
    display: inline-block;
    text-align: left;
}

table, th, td {
    border: 0px; <!--1px solid black for broders -->
    border-collapse: collapse;
    color: grey;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: grey;
}

h4 {
    color: grey;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 40px;
    margin-right: 40px;
}

/*class ulbar is needed for navbar at top --> */
.ulbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.ulbar li {
    float: left;
}

.ulbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ulbar li a:hover {
    color: black;
    background-color: #FFF5EE;
}

.btn-sm {
    padding:.125rem .375rem;
    font-size:.75rem;
    border-radius:.3rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

