a:link {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: burlywood;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}
