@import de.htwg.se.connect_four.controller.controllerComponent.ControllerInterface

@(controller: ControllerInterface)

@main("Connect 4") {
  

  <center>
    <h1>CONNECT <font color="blue">4</font> - THE GAME</h1>
    <br>
    <pre>@controller.gridToString</pre>
    <br>
    <p><font color="blue">Current player:</font></p>
    <pre>Player @controller.currentPlayer</pre>
    <p><font color="blue">Game status:</font></p>
    <pre>@controller.getGameStatus</pre>
    

  </center>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <h5> 
    
    <b><font color="blue">Credits:</font></b>
    <br> <font color="blue">Game: </font><a href="https://github.com/herrqian/HTWG_SE_ConnectFour">Jing Qian</a> 
    <br> <font color="blue">Webversion: </font><a href="https://github.com/danielozcpp">Daniel Oz.</a>, <a href="https://github.com/JeSuisUneLicorne/">Julian Z.</a>
    
  </h5>

}